.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: right;
    padding-left: 24px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}

.header__link:hover {
    transition: opacity 0.1s ease;
    opacity: 0.6;
}