.footer {
    max-width: 68.75%;
    margin: auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 550px) {
    .footer {
        max-width: 88.125%;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}