.verefication__input {
    padding-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: transparent;
    color: inherit;
    border-bottom: 2px solid #ccc;
    box-shadow: inset 0 0 0 50px #000;
    -webkit-text-fill-color: #ccc;
}

.verefication__input:last-of-type {
    margin-top: 30px;
}