.header {
    max-width: 68.75%;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 37px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
        padding-bottom: 28px;
    }
}